
body{
    display: block;
    margin-top: 10vh;
    margin-bottom: 20vh;
    
}

footer{
    margin-top: 10vh;
    padding-bottom: 0vh;
    text-align: center;
}
.erreur {
    background: #ff0000;
    padding: 5px;
    margin: 5px;
  }